.img {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/stop-motion-parchment-background_b1cljj-h__F0000.png");

  height:200vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}